/* geral */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/* navbar */

nav {
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #CCC;
    z-index: 1;
}

nav::after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    position: relative;
    align-items: center;
}

#nav-logo {
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-container ul {
    height: 60px;
    line-height: 60px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin-left: 35px;
    font-weight: 500;
    vertical-align: middle;
}

.nav-container li a {
    color: #000;
    text-decoration: none;
}

.nav-container .nav-login {
    float: right;
    color: rgb(130, 10, 209);
    width: 5em;
    text-align: center;
    margin-right: 2em;
    font-weight: 700;
}

.nav-container .nav-login a {
    text-decoration: none;
}

.nav-container .nav-login a:hover {
    text-decoration: underline;
}

/* Main Banner  */

#main-banner {
    margin-top: 60px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 52em;
    background: url('../img/banner.PNG') no-repeat;
}

.banner-title {
    position: relative;
    float: left;
    width: 40%;
    margin-top: 20em;
    margin-left: 14%;
}

.banner-title h1 {
    color: #FFF;
    font-size: 3em;
}

.banner-title p {
    margin-top: 0.5em;
    color: #FFF;
    font-size: 1.5em;
    font-weight: 400;
}

.banner-form {
    position: relative;
    float: right;
    width: 40%;
    margin-top: 18em;
}

.banner-form form {
    width: 320px;
    background-color: #FFF;
    float: right;
    margin-right: 2em;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.banner-form form label {
    font-size: 1.3em;
    font-weight: 600;
}

.banner-form .input-cpf {
    margin-top: 3em;
    font-size: 1em;
    width: 100%;
    border-style: none;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    transition: .5s;
}

.banner-form .input-cpf:hover {
    border-bottom: 1px solid #000;
}

.banner-form .input-cpf:focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

.banner-form .input-submit {
    margin-top: 1.5em;
    width: 100%;
    border-radius: 30px;
    height: 3em;
    font-size: 1em;
    text-align: left;
    padding-left: 15px;
    background-color: #8F23D6;
    color: #FFF;
    font-weight: 600;
}

.banner-form .input-submit:hover {
    cursor: pointer;
}

/* Main - CreditCard Container */
/* credit-container */

.creditcard-container {
    height: 60em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.creditcard-title {
    margin-top: 15em;
    margin-left: 19%;
    position: relative;
    float: left;
    width: 30%;
    padding: 2em;
}

.creditcard-title a {
    text-decoration: none;
}

.creditcard-title a:hover {
    text-decoration: underline #8F23D6;
}

.creditcard-title h1 {
    color: #8F23D6;
    text-decoration: none;
    font-size: 2.2em;
}

.creditcard-title p {
    color: #000;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.creditcard-img {
    margin-top: 15em;
    position: relative;
    float: left;
    width: 40%;
}

/* card-container */

.card-container {
    height: 50em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.violetcard-title {
    margin-top: 19em;
    margin-left: 10%;
    position: relative;
    float: left;
    width: 40%;
    padding: 2em;
}

.violetcard-title a {
    text-decoration: none;
}

.violetcard-title a:hover {
    text-decoration: underline #8F23D6;
}

.violetcard-title h1 {
    color: #8F23D6;
    text-decoration: none;
    font-size: 2.2em;
}

.violetcard-title p {
    color: #000;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.violetcard-img {
    margin-top: 8em;
    position: relative;
    float: left;
    width: 35%;
}

.violetcard-img img {
    width: 100%;
    height: 100%;
}

/* accountnubank-container */

.accountnubank-container {
    height: 60em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.accountnubank-title {
    margin-top: 20em;
    margin-left: 20%;
    position: relative;
    float: left;
    width: 30%;
    padding: 2em;
}

.accountnubank-title a {
    text-decoration: none;
}

.accountnubank-title a:hover {
    text-decoration: underline #8F23D6;
}

.accountnubank-title h1 {
    color: #8F23D6;
    text-decoration: none;
    font-size: 2.2em;
}

.accountnubank-title p {
    color: #000;
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.accountnubank-img {
    margin-top: 15em;
    position: relative;
    float: left;
    width: 35%;
}

/* aboutnubank-container */

.aboutnubank-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 60em;
    background: url('../img/banner2.PNG') no-repeat;
}

.aboutnubank-title {
    position: relative;
    float: left;
    width: 30%;
    margin-top: 20em;
    margin-left: 22%;
}

.aboutnubank-title h1 {
    color: #FFF;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.aboutnubank-title a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.aboutnubank-title a:hover {
    text-decoration: underline;
}

/* nucommunity-container */

.nucommunity-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 60em;
    background: url('../img/banner3.PNG') no-repeat;
    background-size: cover;
    margin-top: -52px;
}

.nucommunity-title {
    position: relative;
    float: left;
    width: 30%;
    margin-top: 20em;
    margin-left: 22%;
}

.nucommunity-title h1, p {
    color: #FFF;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.nucommunity-title a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.nucommunity-title a:hover {
    text-decoration: underline;
}

/* blog-container */

.blog-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 60em;
    background: url('../img/banner4.PNG') no-repeat;
    background-size: cover;
    margin-top: -52px;
}

.blog-title {
    position: relative;
    float: left;
    width: 30%;
    margin-top: 20em;
    margin-left: 22%;
}

.blog-title h1 {
    color: #FFF;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.blog-title a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.blog-title a:hover {
    text-decoration: underline;
}

/* footer-container */

.footer-container {
    background-color: #111;
    width: 100%;
    height: 100%;
    color: #FFF;
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
}

hr {
    border-color: #CCC;
}

.links-nubank-footer {
    position: relative;
    width: 24%;
    float: left;
    height: 20em;
    margin-bottom: 5em;
    margin-top: 2em;
}

.links-nubank-footer h6 {
    font-size: 12pt;
    font-weight: 300;
}

.links-nubank-footer a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.links-nubank-footer a:hover {
    color: #8F23D6;
}

.links-nubank-footer li {
    list-style: none;
    margin-bottom: 8px;
}

.links-nubank-footer li span {
    position: relative;
    left: -38px;
}

.links-nubank-footer p {
    font-size: 12pt;
    font-weight: 600;
}

.links-nubank-footer p span {
    position: relative;
    left: -38px;
    color: #FFF;
}

